!**/glob-import/dir/node_modules
.DS_Store
.idea
*.cpuprofile
*.local
*.log
/.vscode/
/docs/.vitepress/cache
dist
dist-ssr
explorations
node_modules
playground-temp
temp
TODOs.md
.eslintcache
.next
*.tsbuildinfo

.env
.env.local
.env.development
.env.production
.env.test
.env.test.local
.env.test.local.backup
.env.test.local.backup.2
.env.test.local.backup.3
.env.test.local.backup.4
.env.test.local.backup.5
.env.test.local.backup.6
.env.test.local.backup.7
.env.test.local.backup.8